<footer class="py3">
  <div class="flex justify-center items-center">
    <object class="mr1" style="height: 40px;" data="/EF-white.svg" type="image/svg+xml"></object>
    <div>WOODWORKING</div>
    <div class="big-white-separator"></div>
    <div class="flex flex-column items-center">
      <a href="/">Home</a>
      <a href="/about">About</a>
    </div>
  </div>
</footer>
