<!DOCTYPE html>
<html>
<head>
  <title>{{name}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/basscss@latest/css/basscss.min.css">
  <!-- <link rel="stylesheet" href="https://unpkg.com/chota@latest"> -->
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <script>
    if (window.matchMedia &&
        window.matchMedia('(prefers-color-scheme: dark)').matches) {
      document.documentElement.classList.add('dark');
    }
  </script>
</head>
<body>
  {{ content | safe }}
  {% include "footer.html" %}
</body>
</html>

