---
layout: outer-html.njk
---

<div class="project-page">

  <div id="banner">
    <img id="banner-image" src="{{bannerImageUrl}}">
    <img id="arrow" class="bounce" src="/saw.png">
  </div>

  <main class="container">
    <header>
      <h1>{{name}}</h1>
      <p class="font-light"><em>{{summary}}</em></p>
    </header>
    <p>{{description | md | safe}}</p>
  </main>

  {% for image in images %}
    <section class="center">
      <div class="nospace">
        <img class="album-image mt3" src="{{image.imageUrl}}">
      </div>
      {% if image.description %}
        {# declaring arbitrary size for document-style vs image caption #}
        {% if image.description | length > 120 %}
          <div class="container left-align">{{image.description | md | safe}}</div>
        {% else %}
          <div class="mx-auto album-image-caption">
            <em>{{image.description | md | safe}}</em>
          </div>
        {% endif %}
      {% endif %}
    </section>
    {% endfor %}
</div>
