---
layout: outer-html.njk
name: EF Woodworking
---
<header>Welcome to Ethan Frei's woodworking portfolio!</header>

<div class="items-list">
{% for name, project in projects | dictsort %}
  <a class="item-card" style="background-image: url('{{ project.bannerImageUrl }}')" href="projects/{{ name }}" class="flex mt1">
    <div class="item-banner tran-gray-background">
        <div class="item-name flex-none">{{ project.name }}</div>
        <div class="separator"></div>
        <div class="item-summary">{{ project.summary }}</div>
    </div>
  </a>
{% endfor %}
</div>

