:root {
  --grid-maxWidth: 50rem;
  --bg-color: #fff;
  --bg-secondary-color: #f3f3f6;
  --color-primary: #14854f;
  --font-color: #333;
  --font-family-sans: -apple-system,BlinkMacSystemFont,Avenir,"Avenir Next","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --font-family-mono: monaco,"Consolas","Lucida Console",monospace;
  --grid-gutter: 2rem;
}

html.dark {
  --bg-color: #222;
  --bg-secondary-color: #131316;
  --font-color: #f5f5f5;
  --color-grey: #ccc;
  --color-primary: #1bb169;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
  line-height: 1.6;
  color: var(--font-color);
  font-family: Segoe UI,Helvetica Neue,sans-serif;
  font-family: var(--font-family-sans);
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 20px;
  }
}
a:hover:not(.button) {
  opacity: .75;
}
a {
  color: var(--color-primary);
  text-decoration: none;
}

/*---------- utils -----------*/
.nospace {
  font-size: 0;
}

.container {
  max-width: var(--grid-maxWidth);
  margin: 0 auto;
  width: 96%;
  padding: 0 calc(var(--grid-gutter)/2);
}
.font-light {
  font-weight: 300;
}

/*---------- not utils -----------*/
.project-page h1 {
  font-size: 4em;
  text-transform: uppercase;
  font-family: "Slabo 27px", serif;
  margin-bottom: 0px;
  line-height: .9em;
}

.album-image {
  max-width: 100%;
  max-height: 85vh;
}

.album-image-caption {
  line-height: 1.4rem;
  max-width: 600px; 
}

#banner {
  position: relative;
  text-align: center;
}
#banner #banner-image {
  margin: 0 auto;
  max-height: 100vh;
  width: 100%;
  display: block;
  object-fit: cover;
}
#banner #arrow {
  display: none;
}
@media only screen and (min-width: 800px) {
  #banner #arrow {
    display: block;
    height: 100px;
    width: 70px;
    bottom: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
    filter: invert(1);
    opacity: .5;
  }
  .bounce {
    animation-name: bounce;
    animation-duration: 1.7s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  @keyframes bounce {
    0%   { transform: translate(-50%, 0); }
    55%  { transform: translate(-50%, -15px); }
    65% { transform: translate(-50%, 0); }
    75%  { transform: translate(-50%, -15px); }
    85% { transform: translate(-50%, 0); }
    /*
    0%   { transform: translateY(0); }
    55%  { transform: translateY(-15px); }
    65% { transform: translateY(0); }
    75%  { transform: translateY(-15px); }
    85% { transform: translateY(0); }
    */
  }
}

footer {
  background: #333;
  color: #f5f5f5;
}

.separator {
  width: 2px;
  height: 35px;
  background: rgba(199, 199, 199, 0.7);
  margin: 0px 8px;
}

.big-white-separator {
  width: 1px;
  height: 55px;
  background: #f8f8f8;
  margin: 0 15px;
}

.tran-gray-background {
  background: rgba(66, 66, 66, 0.45);
}
  
.items-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.items-list, .item-card {
  margin: 10px;
}

.item-card:hover {
  color: #f8f8f8;
  text-decoration: unset;
}

.item-card {
  min-height: 300px;
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  padding-bottom: 1.5em;
  display: flex;
  align-items: flex-end;
  color: #f8f8f8;
  max-width: 800px;

  .item-banner {
    padding: .3em;
    display: flex;
    align-items: center;
  }

  .item-name {
    text-transform: uppercase;
    font-family: "Slabo 27px", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
  }

  .item-summary {
    flex-shrink: 1;
    font-family: "Oswald", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}

@media (min-width: 768px) {
  .items-list, .item-card {
    margin: 20px;
  }

  .item-card {
    .item-banner {
      max-width: 75%;
      padding: .6em;
    }

    .item-name {
      font-size: 30px;
    }

    .item-summary {
      font-size: 20px;
    }
  }

  .separator {
    margin: 0px 15px;
  }
}

